$color-text: #242424;
$color-text-l: #909090;
$color-secondary: #E0E0E0;
$color-main: #242424;


$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;