
@import "_animations";
.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .tab {
        display: grid;
        place-items: center;
    }

    .active {
        animation: scalein 200ms ease-in-out;
        animation-direction: normal;
    }
}
